/* Define a base global de configuração*/

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.cabecalho {
  background-color: #4a403d;
  text-align: center;
  padding: 2rem;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 999;
}

.batman {
  background-image: url(../image/bridge-9620082_1280.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 19rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  flex-wrap: wrap;
}

/* Aqui estamos alterando/estilizando as DIV */
.caixa {
  background-color: #a69a90;
  color: white;
  font-size: 1.2rem;
  width: 25%;
  height: 25rem;
  box-shadow: 10px 10px 20px rgb(67, 60, 40);
  border-radius: 10px;
  min-width: 300px;
}

.rodape {
  background-color: #facf7d;
  color: black;
  text-align: center;
  padding: 1rem;
  font-size: 1.1rem;
}